<!--VISTA ERROR-->
<div class="container">
  <div class="jumbotron">
    <img src="/images/error.jpg"  align="center" alt="">
    <br/>
    <h1>Descripcion:</h1>
    <p><%= descripcion %></p>
    <a class="btn btn-primary btn-lg btn-info btn-lg" href="<%= link %>" role="button">Volver</a>
  </div>
</div>
