<div class="container">
  <div class="jumbotron">
    <h1>Tecnologias Web con Javascript</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cupiditate delectus doloribus eius facere, hic in ipsa minus placeat possimus quis reprehenderit. Hic labore libero nobis quam reprehenderit vel vero?</p>
    <div class="row">
      <div class="col-sm-6"><p><a class="btn btn-primary btn-lg btn-block btn-success" href="/nuevocelular" role="button">Nuevo Celular</a></p></div>
      <div class="col-sm-6"><p><a class="btn btn-primary btn-lg btn-block btn-success" href="/nuevaaplicacion" role="button">Nueva Aplicacion</a></p></div>
    </div>
  </div>
</div>
