<div class="container">
  <div class="jumbotron">
    <h1>Tecnologias Web con Javascript</h1>
    <p>La tabla padre es Celular y la tabla hijo es Aplicacion. Entonces, un celular podrá tener muchas aplicaciones.</p>
    <ul>
      <li>Al listar los celulares, se pueden ver las aplicaciones que poseen en el botón <span class="label label-warning">Ver aplicaciones</span> en donde se podrán añadir nuevas aplicaciones al celular creándolas o agregando las que no han sido asignadas todavía. También se podría quitar las aplicaciones del celular y estas quedarían libres para asignarlas a otro celular</li>
      <li>Las aplicaciones no asignadas son las que se agregaron en la pestaña <span class="label label-default">Nueva aplicación </span> del Nav Bar. Éstas no pertenecerán a ningún celular y se las puede asignar manualmente.</li>
      <li>Para editar, borrar y listar todas las aplicaciones toca ir a la pestaña <span class="label label-default">Todas las aplicaciones</span></li>

    </ul>
    <div class="row">
      <div class="col-sm-6"><p><a class="btn btn-primary btn-lg btn-block btn-success" href="/nuevocelular" role="button">Nuevo Celular</a></p></div>
      <div class="col-sm-6"><p><a class="btn btn-primary btn-lg btn-block btn-success" href="/nuevaaplicacion" role="button">Nueva Aplicacion</a></p></div>
    </div>
  </div>
</div>
