<div class="container">
<form>
  <h1 align="center">REGISTRAR NUEVO CELULAR</h1>
  <div class="row">
    <div class="col-sm-3">
      <img src="images/celular/izq.jpg" height="200" width="200" alt="">
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="nomb">Nombre</label>
        <input type="text" class="form-control" id="nomb" placeholder="Modelo del celular" required>
      </div>
      <div class="form-group">
        <label for="so">Sistema Operativo</label>
        <input type="text" class="form-control" id="so" placeholder="Sistema Operativo" required>
      </div>
      <div class="form-group">
        <label for="version">Version</label>
        <input type="number" class="form-control" id="version" placeholder="Version del SO" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Crear</button>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <img src="images/celular/der.png" height="200" width="200" alt="">
    </div>
  </div>

</form>
</div>
